<div id="colors">

  <table class="color-surfaces">
    <thead>
      <tr>
        <th colspan="3" class="test-surface">%surface</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="test-surface-muted-light">%surface-muted-light</td>
        <td class="test-surface-muted">%surface-muted</td>
        <td class="test-surface-muted-dark">%surface-muted-dark</td>
      </tr>

      <tr>
        <td class="test-surface-vibrant-light">%surface-vibrant-light</td>
        <td class="test-surface-vibrant">%surface-vibrant</td>
        <td class="test-surface-vibrant-dark">%surface-vibrant-dark</td>
      </tr>

      <tr>
        <td class="test-surface-muted-light-hover">%surface-muted-light-hover</td>
        <td class="test-surface-muted-hover">%surface-muted-hover</td>
        <td class="test-surface-muted-dark-hover">%surface-muted-dark-hover</td>
      </tr>

      <tr>
        <td class="test-surface-vibrant-light-hover">%surface-vibrant-light-hover</td>
        <td class="test-surface-vibrant-hover">%surface-vibrant-hover</td>
        <td class="test-surface-vibrant-dark-hover">%surface-vibrant-dark-hover</td>
      </tr>
    </tbody>
  </table>
</div>
