@use "v2/components";

@forward "./app";
@forward "./article";
@forward "./note";

article .e-content {
  overflow-x: clip;
  text-overflow: ellipsis;
}

.related {
  @extend %link-buttons;

  .related__description {
    color: var(--vibrant);
  }
}
