{% extends 'pages/base/scaffold.html' %}
{% load classes %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.tagline }}{% endblock %}

{% block content_class %}webpost{% endblock %}

{% block main %}
  <section>
    {% include 'staff/edit-links.html' with target=post %}
    <article class="h-entry webpost" data-type="{{ post|get_class|lower }}">
        {% block article %}
          {% block post_header %}{% endblock %}

          {% block titlebar %}{% include "./_post-title-bar.html" %}{% endblock %}

          <div class="e-content">
              {% block post_content %}{{ post.content_html|safe }}{% endblock %}
          </div>
        {% endblock %}

        {% include 'components/react/media-container.html' with target=post style="carousel" %}
    </article>
  </section>

  {% block additional_content %}{% endblock %}

  {% include "components/react/webmentions-container.html" %}
{% endblock %}


{% block post_scripts %}{{ post.content_script|default:""|safe }}{% endblock %}
