{% load urls %}
{% if links or apps or tags %}
  <div class="related">
    <span class="links-title">Related:</span>
    {% if links or apps %}
          {% for app in apps %}
            <a href="{% url 'app' app.app_id %}">
              <span class="related__description">App</span>: {{ app.title }}
            </a>
          {% endfor %}

          {% for link in links %}
            <a href="{{ link.url }}">
              {% if link.description %}
                <span class="related__description">{{ link.description|capfirst }}</span>: {{ link.host.name }}
              {% else %}
                {{ link.host.name }}
              {% endif %}
            </a>
          {% endfor %}
    {% endif %}

    {% if tags %}
      {% for tag in tags %}
          <a href="{{ tag|tag_url }}" class="tag">{{ tag.name }}</a>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
