@use "v2/components";
@use "v2/core";

#content.webpost {
  @extend %center-column;

  nav {
    h1 {
      @extend %text-large;
    }

    ul {
      list-style-position: inside;
      padding-inline-start: 0;
    }
  }
}

article.webpost {
  .title-bar {
    @extend %margin-large-block;
  }

  &[data-type="app"] {
    .title-bar__title {
      align-items: center;
    }
  }

  .related {
    @extend %link-buttons;

    .related__description {
      color: var(--vibrant);
    }

    &::before {
      content: "";
      width: 2px;
      height: 1em;
      background-color: var(--accent-color);
      margin-right: var(--space-half);

      transition: transform 200ms;
      transform: scaleY(1);
      transform-origin: bottom;
    }

    &:has(a:hover)::before {
      transform: scaleY(0);
    }
  }

  .e-content {
    @extend %margin-large-block;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

.changelogs-nav-wrapper {
  @include core.sticky;

  .nav-card {
    @extend %card;
    @extend %fade-in;

    display: none;
    position: absolute;
    left: calc(-24ch - var(--space-4x));
    width: 24ch;

    @include core.on-three-column {
      display: block;
    }

    nav {
      @extend %card-content;
    }
  }
}
