body {
  margin-inline: auto;
}

h1 {
  margin-block: var(--space-4x);
}

textarea {
  background-color: var(--input-text-background);
  width: 32ch;
  max-width: 100%;
  margin-block: var(--space-2x);
  font-size: var(--fs-h4);
  border-bottom: 1px dashed var(--text-tertiary);
  height: 10em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#palette {
  width: 100%;
  max-width: calc(200px * 4);
  margin-block: var(--space-4x);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  align-items: stretch;
  justify-content: center;

  > * {
    aspect-ratio: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .color {
      font-size: var(--fs-h5);
      font-weight: bold;
      color: var(--text-light-primary);
      background-color: var(--text-dark-tertiary);
      border-radius: 4px;
      padding: 4px 8px;
      margin: var(--space);
      white-space: nowrap;;
      text-overflow: ellipsis;
      overflow-x: clip;
    }
  }
}

#theme_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--space-2x);
}
