{% extends 'pages/scaffold/scaffold.html' %}
{% load static %}

{% block title %}__env__:siteName - Contact{% endblock %}

{% block main %}
  <div id="contact">
    <form id="contact_form" name="contact_form" method="POST" onsubmit="onSubmitContact(event)">
      {% csrf_token %}

      <h2>Contact me</h2>

      <p>
        <label for="contact_name">What should I call you?</label>
        <input
            autocomplete="name"
            id="contact_name"
            data-cy="contact_name"
            type="text"
            name="name"
            placeholder="Your name"
            autofocus
            required
        />
      </p>

      <p>
        <label for="contact_method">How can I contact you?</label>
        <input
            autocomplete="email"
            id="contact_method"
            data-cy="contact_method"
            type="text"
            name="contact_method"
            placeholder="Your email address, IM username and service, whatever."
            required
        />
      </p>

      <p>
        <label for="contact_message">What would you like to say?</label>
        <textarea
            autocomplete="off"
            id="contact_message"
            data-cy="contact_message"
            name="message"
            placeholder="Your message"
            required
        ></textarea>
      </p>

      <div class="submit">
        <button type="submit" id="contact_submit" data-cy="contact_submit" disabled>Send</button>
        <div
            class="g-recaptcha"
            data-callback="onContactCaptchaPassed"
            data-expired-callback="onContactCaptchaExpired"
            data-sitekey="__env__:googleRecaptchaToken"
        ></div>
      </div>
    </form>

    <div id="error_response"></div>
  </div>
{% endblock %}

{% block post_scripts %}
  <script class="onPageChange" src="https://recaptcha.net/recaptcha/api.js" async defer></script>
{% endblock %}
