@import "tailwindcss";
@import "./_style/window-insets.css";

@custom-variant touch (@media(pointer: coarse));
@custom-variant pointer (@media(pointer: fine));
@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
    &:where([data-theme="system"], [data-theme="system"] *) {
      @slot;
    }
  }
}

@utility colorscheme-light {
  --background: var(--color-stone-200);
  --on_background: var(--color-stone-950);
  --surface: var(--color-stone-50);
  --on_surface: var(--color-stone-950);
  --vibrant: var(--color-green-700);
  --on_vibrant: var(--color-green-100);
  --muted: var(--color-slate-600);
  --on_muted: var(--color-slate-900);
}
@utility colorscheme-dark {
  --background: #252225;
  --on_background: #f1edf1;
  --surface: #4b495c;
  --on_surface: #efeef9;
  --vibrant: #55c191;
  --on_vibrant: #0c1e16;
  --muted: var(--color-slate-500);
  --on_muted: var(--color-slate-900);
}

:root {
  @media (prefers-color-scheme: light) {
    @apply colorscheme-light;
  }
  @media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
    @apply colorscheme-dark;
  }
}

@theme {
  --color-scrim: rgb(0 0 0 / 0.5);
  --color-on_scrim: rgb(250 250 250);
  --spacing-em: 1em;
  --spacing-readable: 80ch;
}

@theme inline {
  --color-background: var(--background);
  --color-on_background: var(--on_background);

  --color-surface: var(--surface);
  --color-on_surface: var(--on_surface);

  --color-vibrant: var(--vibrant);
  --color-on_vibrant: var(--on_vibrant);
  --color-muted: var(--muted);
  --color-on_muted: var(--on_muted);
  --color-hover: color-mix(in srgb, currentColor 10%, transparent);
  --color-hover_surface: color-mix(
    in srgb,
    var(--surface) 85%,
    var(--on_surface)
  );
}

::selection {
  background-color: color-mix(in srgb, var(--surface), var(--vibrant));
  color: var(--on_vibrant);
}

@layer base {
  html {
    scrollbar-width: thin;
  }
  body {
    background: var(--background);
    color: var(--on_background);
    font-family: Arial, Helvetica, sans-serif;

    &[data-theme="light"] {
      @apply colorscheme-light;
    }

    &[data-theme="dark"] {
      @apply colorscheme-dark;
    }
  }

  img {
    @apply overflow-hidden object-cover;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@layer components {
  .row {
    @apply flex flex-row items-center;
  }

  .column {
    @apply flex flex-col;
  }

  .readable {
    @apply max-w-readable w-full;
  }

  .touch-target {
    @apply min-h-12 min-w-12;
  }

  .overflow-auto,
  .overflow-x-auto,
  .overflow-y-auto {
    @media (pointer: coarse) {
      scrollbar-width: none;
    }
    @media (pointer: fine) {
      scrollbar-width: thin;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .scrollbar {
    @media (pointer: coarse) {
      scrollbar-width: thin;
    }
  }
}

@utility surface {
  @apply bg-surface text-on_surface fill-on_surface;
}
@utility scrim {
  @apply bg-scrim text-on_scrim fill-on_scrim;
}
@utility card {
  @apply overflow-hidden shadow-sm sm:rounded-md;
}
@utility card-content {
  @apply px-4 py-2 sm:px-8 sm:py-4;
}
@utility chip {
  @apply rounded-lg select-none;
}
@utility chip-content {
  @apply px-2 py-1;
}
