# Patterns
*.env
*.gitbundle
frontend-tests*


# Directories
**/.git/
**/.github/
**/.idea/
**/.next/
**/__pycache__/
**/dist/
**/env/
**/node_modules/

**/cypress/screenshots/
**/cypress/videos/

raw-assets/
tools/install/
tools/bma/
