{% load string %}
{% load page.feed %}

{% comment %}
  item: FeedItemContext
{% endcomment %}

{% if item.image_url %}
    <div
        class="preview-image {{ item.image_class|default:'cover' }}"
        style="{% item_theme item.themeable %}"
    >
      {% if item.image_url|endswith:".svg" %}
        <div class="svg" style="-webkit-mask-image: url('{{ item.image_url }}')"></div>
      {% else %}
        <img src="{{ item.image_url }}" alt="" loading="lazy" />
      {% endif %}
    </div>
{% else %}
    <div
        aria-hidden="true"
        class="preview-image preview-image__text-wrapper {{ item.image_class }}"
        style="{% item_theme item.themeable %}"
    >
        <div class="preview-image__text">{{ item|preview_image_text }}</div>
    </div>
{% endif %}
