{% load page.post %}

{% comment %}
  note: Note
{% endcomment %}

<div
    class="h-entry"
    data-type="note"
>
  <article>
    <div class="e-content p-summary">
      <a title="View this note" class="canonical-url icon" href="{{ note.get_absolute_url }}">open_in_full</a>
      {{ note.content_html|note_text }}
    </div>

    {% include 'apps/media-viewer/media-container.html' with target=note style='preview' %}
    {% include "components/datetime/date.html" with date=note.published_at %}
  </article>
</div>
