{% extends "pages/scaffold/scaffold.html" %}

{% block title %}Webmentions Testing Tool{% endblock %}
{% block description %}A tool for testing Webmentions{% endblock %}

{% block main %}
  <div id="webmentions_testing_tool"></div>

  {% comment %}
    <!--
     Invisible links included in template to ensure they can be detected by remote webmention validation.
    -->
  {% endcomment %}
  <div aria-hidden="true">
    {% for url in active_mentions %}
      <a href="{{ url }}"></a>
    {% endfor %}
  </div>
{% endblock %}

{% block webmentions %}
  {% include "apps/webmentions/webmentions-container.html" with empty_message="Nobody has mentioned this page yet :(" %}
{% endblock %}
