{% load page.post %}
{% if links or apps or tags %}
  <div class="related">
    {% if links or apps %}
      {% if apps %}
        <div class="related--group">
        {% for app in apps %}
          <a href="{% url 'app' app.app_id %}">
            <span class="related--description">App</span> {{ app.title }}
          </a>
        {% endfor %}
        </div>
      {% endif %}

      {% if links %}
        <div class="related--group">
        {% for link in links %}
          <a href="{{ link.url }}">
            {% if link.description %}
              <span class="related--description">{{ link.description|capfirst }}</span> {{ link.host.name }}
            {% else %}
              {{ link.host.name }}
            {% endif %}
          </a>
        {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    {% if tags %}
      <div class="related--group tags">
      {% for tag in tags %}
        <a href="{{ tag|tag_url }}" class="tag">{{ tag.name }}</a>
      {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
