@use "mixin";

#content.webpost {
  display: grid;
  grid-template-areas: ". content .";
  grid-auto-columns: 1fr var(--content-width) 1fr;

  article {
    grid-area: content;
  }
}

article.webpost {
  .title-bar {
    @extend %margin-large-block;
  }

  &[data-type="app"] {
    .title-bar__title {
      align-items: center;
    }
  }

  .related {
    @extend %link-buttons-row;

    .related__description {
      color: var(--vibrant);
    }
  }

  .e-content {
    @extend %margin-large-block;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }
  }
}
