@use "mixin";

#content.webpost {
  display: grid;
  grid-template-areas: ". content .";
  grid-auto-columns: 1fr var(--content-width) 1fr;

  article {
    grid-area: content;
  }
}

article.webpost {
  .title-bar {
    @extend %margin-large-block;
  }

  &[data-type="app"] {
    .title-bar__title {
      align-items: center;
    }
  }

  .related {
    @include mixin.row($wrap: wrap, $column-gap: var(--space-2x));

    .related--group {
      @extend %link-buttons-row;
      flex-wrap: wrap;

      &.tags {
        --vibrant: var(--muted);
      }
    }

    .related--description {
      color: var(--vibrant);

      &::after {
        content: ":";
      }
    }
  }

  .e-content {
    @extend %margin-large-block;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }
  }
}
