@use "mixin";

$-size: 0.9em;
$-height: $-size;
$-width: 2 * $-size;
$-active-width: 1.2 * $-size;

$-input-selector: 'input[type= "checkbox"].switch';
$-label-inset: calc($-width + 1ch);
$-aligned-top: calc((1em - $-height) / 2);

$-radius: 0.1em;

#{$-input-selector} {
  display: none;
}

#{$-input-selector} + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: $-label-inset;
  height: 1em;
  line-height: 1em;

  @mixin -common {
    @include mixin.transition-fast(
      (background-color, translate, width),
      $easing: linear
    );
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: $-aligned-top;
    border-radius: $-radius;
  }

  // Track
  &::before {
    @include -common;
    height: $-height;
    width: $-width;
    background-color: var(--muted-low-contrast);
  }

  // Thumb
  &::after {
    @include -common;
    width: $-size;
    height: $-size;
    background-color: var(--on-muted-low-contrast);
  }
}

#{$-input-selector}:active + label {
  &::after {
    width: $-active-width;
  }
}

#{$-input-selector}:checked + label {
  &::before {
    background-color: var(--on-vibrant);
  }

  &::after {
    translate: $-size;
    background-color: var(--vibrant);
  }
}

#{$-input-selector}:active:checked + label::after {
  translate: calc($-width - $-active-width);
}
