@use "./dark";
@use "./light";

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ee4545;
    --blue: #0e70b8;
    --green: #16b06b;
    --purple: #823dae;
    --pink: #e13255;
    --yellow: #fdf472;
    --orange: #d86900;
    --grey: #636363;

    --text-light-primary: rgb(255 255 255 / 83%);
    --text-light-secondary: rgb(255 255 255 / 54%);
    --text-light-tertiary: rgb(255 255 255 / 25%);
    --text-dark-primary: rgb(0 0 0 / 83%);
    --text-dark-secondary: rgb(0 0 0 / 54%);
    --text-dark-tertiary: rgb(0 0 0 / 25%);
    --text-light: var(--text-light-primary);
    --text-dark: var(--text-dark-primary);
    --on-background: var(--text-primary);
    --on-surface: var(--text-primary);

    --scrim: rgb(0 0 0 / 65%);
    --on-scrim: var(--text-light-primary);

    --on-muted: var(--muted-light);
    --on-muted-hover: var(--muted-light);
    --on-muted-light: var(--muted-dark);
    --on-muted-light-hover: var(--muted-dark-hover);
    --on-muted-dark: var(--muted-light);
    --on-muted-dark-hover: var(--muted-light-hover);

    --on-vibrant: var(--vibrant-dark);
    --on-vibrant-hover: var(--vibrant-dark);
    --on-vibrant-light: var(--vibrant-dark);
    --on-vibrant-light-hover: var(--vibrant-dark-hover);
    --on-vibrant-dark: var(--vibrant-light);
    --on-vibrant-dark-hover: var(--vibrant-light-hover);

    accent-color: var(--vibrant);
}

html {
    @include dark.dark;

    @media (prefers-color-scheme: dark) {
        &.light {
            @include light.light;
        }
    }

    @media (prefers-color-scheme: light) {
        &:not(.dark) {
            @include light.light;
        }
    }
}

.codehilite {
    .hll {
    }

    .c {
        /* Comment */
    }

    .err {
        /* Error */
    }

    .k {
        /* Keyword */
        //font-weight: bold;
    }

    .l {
        /* Literal */
    }

    .n {
        /* Name */
    }

    .o {
        /* Operator */
    }

    .p {
        /* Punctuation */
    }

    .ch {
        /* Comment.Hashbang */
    }

    .cm {
        /* Comment.Multiline */
    }

    .cp {
        /* Comment.Preproc */
    }

    .cpf {
        /* Comment.PreprocFile */
    }

    .c1 {
        /* Comment.Single */
    }

    .cs {
        /* Comment.Special */
        //font-weight: bold;
    }

    .gd {
        /* Generic.Deleted */
    }

    .ge {
        /* Generic.Emph */
        font-style: italic;
    }

    .gr {
        /* Generic.Error */
    }

    .gh {
        /* Generic.Heading */
        //font-weight: bold;
    }

    .gi {
        /* Generic.Inserted */
    }

    .go {
        /* Generic.Output */
    }

    .gp {
        /* Generic.Prompt */
        //font-weight: bold;
    }

    .gs {
        /* Generic.Strong */
        //font-weight: bold;
    }

    .gu {
        /* Generic.Subheading */
        //font-weight: bold;
    }

    .gt {
        /* Generic.Traceback */
    }

    .kc {
        /* Keyword.Constant */
        //font-weight: bold;
    }

    .kd {
        /* Keyword.Declaration */
        //font-weight: bold;
    }

    .kn {
        /* Keyword.Namespace */
        //font-weight: bold;
    }

    .kp {
        /* Keyword.Pseudo */
        //font-weight: bold;
    }

    .kr {
        /* Keyword.Reserved */
        //font-weight: bold;
    }

    .kt {
        /* Keyword.Type */
        //font-weight: bold;
    }

    .ld {
        /* Literal.Date */
    }

    .m {
        /* Literal.Number */
        //font-weight: bold;
    }

    .s {
        /* Literal.String */
    }

    .na {
        /* Name.Attribute */
    }

    .nb {
        /* Name.Builtin */
    }

    .nc {
        /* Name.Class */
        //font-weight: bold;
    }

    .no {
        /* Name.Constant */
        //font-weight: bold;
    }

    .nd {
        /* Name.Decorator */
        //font-weight: bold;
    }

    .ni {
        /* Name.Entity */
        //font-weight: bold;
    }

    .ne {
        /* Name.Exception */
        //font-weight: bold;
    }

    .nf {
        /* Name.Function */
        //font-weight: bold;
    }

    .nl {
        /* Name.Label */
        //font-weight: bold;
    }

    .nn {
        /* Name.Namespace */
        //font-weight: bold;
    }

    .nx {
        /* Name.Other */
    }

    .py {
        /* Name.Property */
    }

    .nt {
        /* Name.Tag */
    }

    .nv {
        /* Name.Variable */
    }

    .ow {
        /* Operator.Word */
        //font-weight: bold;
    }

    .w {
        /* Text.Whitespace */
    }

    .mb {
        /* Literal.Number.Bin */
        //font-weight: bold;
    }

    .mf {
        /* Literal.Number.Float */
        //font-weight: bold;
    }

    .mh {
        /* Literal.Number.Hex */
        //font-weight: bold;
    }

    .mi {
        /* Literal.Number.Integer */
        //font-weight: bold;
    }

    .mo {
        /* Literal.Number.Oct */
        //font-weight: bold;
    }

    .sa {
        /* Literal.String.Affix */
    }

    .sb {
        /* Literal.String.Backtick */
    }

    .sc {
        /* Literal.String.Char */
    }

    .dl {
        /* Literal.String.Delimiter */
    }

    .sd {
        /* Literal.String.Doc */
    }

    .s2 {
        /* Literal.String.Double */
    }

    .se {
        /* Literal.String.Escape */
        //font-weight: bold;
    }

    .sh {
        /* Literal.String.Heredoc */
    }

    .si {
        /* Literal.String.Interpol */
    }

    .sx {
        /* Literal.String.Other */
    }

    .sr {
        /* Literal.String.Regex */
    }

    .s1 {
        /* Literal.String.Single */
    }

    .ss {
        /* Literal.String.Symbol */
    }

    .bp {
        /* Name.Builtin.Pseudo */
    }

    .fm {
        /* Name.Function.Magic */
        //font-weight: bold;
    }

    .vc {
        /* Name.Variable.Class */
    }

    .vg {
        /* Name.Variable.Global */
        //font-weight: bold;
    }

    .vi {
        /* Name.Variable.Instance */
    }

    .vm {
        /* Name.Variable.Magic */
    }

    .il {
        /* Literal.Number.Integer.Long */
        //font-weight: bold;
    }
}
