{% extends "pages/base/scaffold.html" %}

{% block main %}
<h2>Submit a webmention</h2>

<form id="webmention_manual_submit" name="webmention_manual_submit" method="POST" action="/webmention/">
  {% csrf_token %}

  <p>
    <label for="id_target">The URL of my page:</label>
    <input type="url" name="target" required id="id_target" placeholder="https://__env__:siteName/...">
  </p>
  <p>
    <label for="id_source">The URL of your page:</label>
    <input type="url" name="source" required id="id_source">
  </p>
  <button type="submit">Submit</button>
</form>
{% endblock %}
