<div id="loading" class="loading--bar"></div>
<nav>
  <div class="header-row-primary">
    <div class="right">
      {% include "./_search.html" %}
    </div>

    <div class="left">
      <a href="/" title="Home" data-cy="site_name"><h1>__env__:siteName</h1></a>
    </div>
  </div>

  <div class="header-row-secondary">
    <button id="theme_icon" data-tooltip="Toggle theme" class="tooltip"><span class="icon">contrast</span></button>
    <a href="/apps/">Apps</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>

    {% include "./_staff-toolbar.html" %}
  </div>
</nav>
