@use "mixin";
@use "./search";

%-main-header-row {
  @extend %nolinks;
  color: var(--text-primary);
}

.header-row-primary {
  @extend %-main-header-row;
  @extend %margin-medium-bottom;
  @include mixin.row(
    $horizontal: space-between,
    $vertical: baseline,
    $gap: var(--space-2x)
  );

  .left {
    @include mixin.row($horizontal: flex-start);

    order: 0;
  }

  .right {
    @include mixin.row($horizontal: flex-end);

    order: 1;
  }

  @media (width < search.$show-search-max-width) {
    .right {
      @include mixin.stretch-width;
    }
  }

  @include mixin.on-medium-width {
    justify-content: center;
  }
}

.header-row-secondary {
  @extend %-main-header-row;
  @include mixin.row(flex-end);

  a,
  #theme_icon {
    @extend %clickable;
    @extend %hover;
    @extend %padding-small;
  }

  button#theme_icon {
    border: none;
  }
}
