{% if user.is_superuser %}
  <div class="staff-toolbar">
    <a title="Webmail" href="{% url 'admin:contact_webmailmessage_changelist' %}" class="tooltip unread-badge noanim">
      <span class="icon">mail</span>
      {% if unread_webmail %}<span>{{ unread_webmail|length }}</span>{% endif %}
    </a>
    <a title="Webmentions" href="{% url 'admin:mentions_webmention_changelist' %}" class="tooltip unread-badge noanim">
      <span class="icon">alternate_email</span>
      {% if unread_webmentions %}<span>{{ unread_webmentions|length }}</span>{% endif %}
    </a>

    <a title="Theme overview" class="tooltip" href="{% url 'dev_theme_preview' %}"><span class="icon">palette</span></a>
    <a title="Dashboard" class="noanim tooltip" href="{% url 'dashboard' %}"><span class="icon">dashboard</span></a>
    <a title="Admin" class="noanim tooltip" href="{% url 'admin:index' %}"><span class="icon">shield</span></a>
    <div title="New post" class="menu">
      <div class="menu-title icon">add</div>
      <div class="menu-content">
        <a tabindex="-1" href="{% url 'admin:main_note_add' %}">Note</a>
        <a tabindex="-1" href="{% url 'admin:main_changelog_add' %}">Changelog</a>
        <a tabindex="-1" href="{% url 'admin:main_blog_add' %}">Blog</a>
        <a tabindex="-1" href="{% url 'admin:main_app_add' %}">App</a>
        <a tabindex="-1" href="{% url 'admin:main_article_add' %}">Article</a>
      </div>
    </div>
  </div>
{% endif %}
