@use "v2/core";
@use "v2/components/card";
@use "v2/constants";


#github_recent {
  @extend %card;
  @extend %stretch-width;

  margin-inline: auto;
  max-width: constants.$readable-text-width;
  max-height: 33vh;
  overflow-y: scroll;

  > .dropdown > .dropdown-header {
    @extend %padding-medium;
  }
}


.feed {
  @extend %center;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: var(--space-2x);
  max-width: constants.$readable-text-width;


  > .h-entry {
    @extend %stretch-width;

    max-width: constants.$readable-text-width;
  }
}


.feed-empty {
  @extend %card;
  @extend %center;
  @extend %padding-medium;

  text-align: center;

  &-title {
    @extend %center;
    @extend %padding-medium;
    @extend %text-funky;

    width: fit-content;
    font-family: monospace;
    font-size: xxx-large;
    font-weight: 600;

    @keyframes gradient-rotation {
      0% {
        background-position: 0 0;
      }

      25% {
        background-position: 100% 0;
      }

      75% {
        background-position: 0 100%;
      }

      100% {
        background-position: 0 0;
      }
    }
  }

  &-message {
    @extend %padding-medium;
  }

  .oh-no {
    @extend %center;

    $translation: 45ch;

    font-family: monospace;
    display: flex;
    max-width: 6ch;

    .marquee-wrapper {
      @extend %text-one-line;

      width: 6ch;
      overflow-x: clip;

      .marquee {
        @extend %text-one-line;

        animation-name: marquee-scroll;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.98, 0, 0.72, 0.89);
        animation-delay: 800ms;
      }

      @keyframes marquee-scroll {
        from {
          transform: translateX(0);
        }

        to {
          transform: translateX(-$translation);
        }
      }
    }
  }
}
