.postGridAreas {
  grid-template-areas:
    ". hero ."
    ". title ."
    ". info ."
    ". content ."
    ". media ."
    ". mentions ."
    ". changelogs .";
  grid-template-columns: 1fr min(100%, var(--spacing-readable)) 1fr;

  /* Tailwind xl */
  @media (width >= 80rem) {
    --grid-gap: calc(8 * var(--spacing));
    --sidebar-width: 240px;

    grid-template-areas:
      ". . . hero . . ."
      ". . . title . . ."
      ". . . content . info ."
      ". . . media . info ."
      ". . . mentions . info ."
      ". . . changelogs . info .";
    grid-template-columns:
      1fr var(--sidebar-width) var(--grid-gap) var(--spacing-readable)
      var(--grid-gap) var(--sidebar-width) 1fr;
  }
}
