.postGridAreas {
  grid-template-areas:
    ". hero ."
    ". title ."
    ". info ."
    ". content ."
    ". media ."
    ". mentions .";
  grid-template-columns: 1fr min(100%, var(--spacing-readable)) 1fr;

  /* Tailwind xl */
  @media (width >= 80rem) {
    grid-template-areas:
      ". . hero . ."
      ". . title . ."
      ". . content info ."
      ". . media . ."
      ". . mentions . .";
  }
}
