{% extends 'pages/posts/_post.html' %}

{% block title %}{{ post.content|truncatechars:24 }}{% endblock %}
{% block description %}{% endblock %}

{% block article %}
  {% if post.content %}
    <div class="note-text">
      <div class="e-content">
        {{ post.content_html|safe }}
      </div>

      {% include "components/datetime/date.html" with date=post.published_at %}
    </div>
  {% else %}
    {% include "components/datetime/date.html" with date=post.published_at %}
  {% endif %}
{% endblock %}
