{% load dates %}
<a
    class="h-entry"
    href="{{ url }}"
    aria-label="{{ type }}: {{ title }}"
    title="{{ type }}: {{ title }}"
    data-type="{{ type|lower }}"
    >

    <article
        class="feeditem-summary"
        data-type="{{ type|default:''|lower }}"
        >
        {% include "components/preview-image/image.html" %}

        <div class="feeditem-summary-text">
            <div class="feeditem-summary-headline">
                <h2 class="p-name">{{ title }}</h2>
                <time class="dt-published" title="{{ date }}" datetime="{{ date }}">{{ date|minimaldate }}</time>
            </div>
            <div class="p-summary">{{ summary|default:"" }}</div>
        </div>
    </article>

</a>
