@use "mixin";
@use "components/card";
@use "global";

.title-bar {
  @extend %stretch-width;

  &__primary {
    @extend %stretch-width;

    @include mixin.row(
      $horizontal: flex-start,
      $vertical: baseline,
      $gap: 1rem,
      $wrap: nowrap
    );

    align-items: baseline;
    gap: var(--space-2x);

    .title-bar__title {
      @extend %readable-text;
      @extend %textbox;

      letter-spacing: 0.1ch;
    }

    .title-bar__labels {
      font-size: var(--fs-smallest);
      flex-grow: 10;
    }

    .title-bar__trailing {
      font-size: var(--fs-smallest);
      text-align: end;
    }
  }

  &__secondary {
  }

  @include mixin.on-medium-width {
    &__primary,
    &__secondary {
      margin-block: var(--space);
      flex-direction: column;
      gap: 0;
      margin-inline: auto;
      text-align: center;

      @include global.headers {
        text-align: center;
      }
      .title-bar__title {
        margin-inline: auto;
        text-align: center;
      }

      .title-bar__trailing {
        margin-inline: auto;
        text-align: center;
      }
    }
  }
}
