@use "global";
@use "mixin";
@use "components/card";

.title-bar {
  @include mixin.row(
    $horizontal: flex-start,
    $vertical: center,
    $gap: 1rem,
    $wrap: nowrap
  );
  width: var(--content-width);

  &__inline-image {
    img:not(img[src=""]) {
      aspect-ratio: 1;
      width: var(--preview-image-size);
      object-position: center;
      object-fit: contain;
    }

    &:empty {
      display: none;
    }
  }

  &__text-wrapper {
    @extend %stretch-width;
    overflow: auto;
  }

  &__primary {
    @extend %stretch-width;
    @include mixin.row(
      $horizontal: flex-start,
      $vertical: baseline,
      $gap: 1rem,
      $wrap: wrap
    );

    .title-bar__title {
      @extend %textbox;

      letter-spacing: 0.1ch;
    }

    .title-bar__labels {
      font-size: var(--fs-smallest);
      flex: 1 1;
    }

    .title-bar__trailing {
      font-size: var(--fs-smallest);
      text-align: end;
    }
  }

  &__secondary {
  }

  @include mixin.on-medium-width {
    flex-direction: column;
    justify-content: center;
  }
}
