<div class="title-bar">
  <div class="title-bar__inline-image">{% spaceless %}
    {% comment %}
    Spaceless to ensure that image placeholder will not be rendered if there
    is whitespace in the given block but no actual content.
    {% endcomment %}
    {% block inline_image %}{% endblock %}
  {% endspaceless %}</div>

  <div class="title-bar__text-wrapper">
    <div class="title-bar__primary">
        <div class="title-bar__title">{% block title %}{% endblock %}</div>
        <div class="title-bar__labels">{% block labels %}{% endblock %}</div>
        <div class="title-bar__trailing">{% block trailing %}{% endblock %}</div>
    </div>

    <div class="title-bar__secondary">{% block subtitle %}{% endblock %}</div>
  </div>
</div>
