@use "mixin";
@use "components/icon";

/**
 * A warning that something is not as it should be.
 * Should never be visible by a user.
 */
.canary {
  @extend %surface-warn;
  @extend %padding-medium;
  @extend %shape-adaptive-small;

  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--elevation-maxvalue);

  &:empty::after {
    @extend %icon;

    content: "warning";
  }
}
