<div id="theme_preview_components">
  <section class="icons">
    <h2>Icons with tooltips</h2>
    {% for app_type in app_types %}
      {% include "pages/posts/app/_app_type.html" %}
    {% endfor %}
  </section>

  <section>
    <h2>Inputs</h2>

    <form id="inputs" action="#">
      <div>
        <p>
          <input id="checkbox_checked" type="checkbox" checked />
          <label for="checkbox_checked">Checkbox checked</label>
        </p>

        <p>
          <input id="checkbox_unchecked" type="checkbox" />
          <label for="checkbox_unchecked">Checkbox unchecked</label>
        </p>

        <p>
          <input id="switch_checked" type="checkbox" class="switch" checked />
          <label for="switch_checked">Switch on</label>
        </p>

        <p>
          <input id="switch_unchecked" type="checkbox" class="switch" />
          <label for="switch_unchecked">Switch off</label>
        </p>
      </div>

      <div>
        <p>
          <input id="radio_checked" type="radio" name="radios" checked />
          <label for="radio_checked">Radio checked</label>
        </p>

        <p>
          <input id="radio_unchecked" type="radio" name="radios" />
          <label for="radio_unchecked">Radio unchecked</label>
        </p>
      </div>

      <div>
        <label for="number">Number</label>
        <input id="number" type="number" placeholder="12345" />
      </div>

      <div>
        <label for="search">Search</label>
        <input id="search" type="search" placeholder="Search input" />
      </div>

      <div>
        <label for="text">Text</label>
        <input id="text" type="text" placeholder="Text input" />
      </div>

      <div>
        <label for="textarea">Text area</label>
        <textarea id="textarea" placeholder="Text area"></textarea>
      </div>

      <div>
        <button type="button">Button</button>
      </div>
    </form>

  </section>

  <section>
    <h2>Code</h2>
    <p>Look here's some <code>code</code> in a paragraph of <code>text</code> which is <code>#very interesting</code>.
    </p>

    <div class="codehilite">
      <pre><span></span><code><span class="c1"># urls.py</span>
<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="n">path</span><span class="p">(</span>
        <span class="sa">fr</span><span class="s2">"&lt;int:year&gt;/&lt;int:month&gt;/&lt;int:day&gt;/&lt;slug:post_slug&gt;/"</span><span
          class="p"
        >,</span>
        <span class="n">MyBlogPostView</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span>
        <span class="n">name</span><span class="o">=</span><span class="s2">"my-blog"</span><span class="p">,</span>
        <span class="n">kwargs</span><span class="o">=</span><span class="p">{</span>
            <span class="s2">"model_name"</span><span class="p">:</span> <span class="s2">"myapp.MyBlog"</span><span
          class="p"
        >,</span>
        <span class="p">},</span>
    <span class="p">),</span>
<span class="p">]</span>

<span class="c1"># models.py</span>
<span class="k">class</span> <span class="nc">MyBlog</span><span class="p">(</span><span class="n">MentionableMixin</span><span
          class="p"
        >,</span> <span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">date</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span
          class="n"
        >DateTimeField</span><span class="p">(</span><span class="n">default</span><span class="o">=</span><span class="n">timezone</span><span
          class="o"
        >.</span><span class="n">now</span><span class="p">)</span>
    <span class="n">slug</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span
          class="n"
        >SlugField</span><span class="p">()</span>
    <span class="n">content</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span
          class="n"
        >TextField</span><span class="p">()</span>

    <span class="k">def</span> <span class="nf">all_text</span><span class="p">(</span><span class="bp">self</span><span
          class="p"
        >):</span>
        <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">content</span>

    <span class="k">def</span> <span class="nf">get_absolute_url</span><span class="p">(</span><span class="bp">self</span><span
          class="p"
        >):</span>
        <span class="k">return</span> <span class="n">reverse</span><span class="p">(</span>
            <span class="s2">"my-blog"</span><span class="p">,</span>
            <span class="n">kwargs</span><span class="o">=</span><span class="p">{</span>
                <span class="s2">"year"</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span
          class="n"
        >date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">"%Y"</span><span
          class="p"
        >),</span>
                <span class="s2">"month"</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span
          class="n"
        >date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">"%m"</span><span
          class="p"
        >),</span>
                <span class="s2">"day"</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span
          class="n"
        >date</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">"</span><span
          class="si"
        >%d</span><span class="s2">"</span><span class="p">),</span>
                <span class="s2">"post_slug"</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span
          class="n"
        >slug</span><span class="p">,</span>
            <span class="p">}</span>
        <span class="p">)</span>

    <span class="nd">@classmethod</span>
    <span class="k">def</span> <span class="nf">resolve_from_url_kwargs</span><span class="p">(</span><span class="bp">cls</span><span
          class="p"
        >,</span> <span class="n">year</span><span class="p">,</span> <span class="n">month</span><span class="p">,</span> <span
          class="n"
        >day</span><span class="p">,</span> <span class="n">post_slug</span><span class="p">,</span> <span class="o">**</span><span
          class="n"
        >url_kwargs</span><span class="p">):</span>
        <span class="k">return</span> <span class="bp">cls</span><span class="o">.</span><span class="n">objects</span><span
          class="o"
        >.</span><span class="n">get</span><span class="p">(</span>
            <span class="n">date__year</span><span class="o">=</span><span class="n">year</span><span class="p">,</span>
            <span class="n">date__month</span><span class="o">=</span><span class="n">month</span><span class="p">,</span>
            <span class="n">date__day</span><span class="o">=</span><span class="n">day</span><span class="p">,</span>
            <span class="n">slug</span><span class="o">=</span><span class="n">post_slug</span><span class="p">,</span>
        <span class="p">)</span>
</code></pre>
    </div>
  </section>

  <section>
    <h2>Table</h2>

    <table>
      <thead>
      <tr>
        <th>Magical Creature</th>
        <th>Power Level</th>
        <th>Favorite Food</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Unicorn</td>
        <td>10,000</td>
        <td>Glitter</td>
      </tr>
      <tr>
        <td>Dragon</td>
        <td>9,000</td>
        <td>Roasted Knights</td>
      </tr>
      <tr>
        <td>Phoenix</td>
        <td>8,500</td>
        <td>Spicy Firewood</td>
      </tr>
      <tr>
        <td>Griffin</td>
        <td>7,500</td>
        <td>Giant Meatballs</td>
      </tr>
      <tr>
        <td>Pegasus</td>
        <td>6,500</td>
        <td>Rainbow Sherbet</td>
      </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h2>Loading</h2>

    <div class="loading--bar" data-active="true" style="position: relative;"></div>
    <div class="loading--spinner">
      <div class="spinner-wrapper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </section>
</div>
