@use "mixin";
@use "components/card";

.app-type {
  @include mixin.size(1em);
  font-size: var(--fs-h6);
  stroke: currentColor;
  fill: currentColor;

  > svg {
    @include mixin.size(1em);
  }
}

.changelogs-nav-wrapper {
  @include mixin.sticky;

  .nav-card {
    @extend %card;
    @extend %fade-in;

    display: none;
    position: absolute;
    left: calc(-24ch - var(--space-4x));
    width: 24ch;

    @include mixin.on-three-column {
      display: block;
    }

    nav {
      @extend %card-content;
    }
  }
}
