@use "mixin";
@use "components/card";

.app-type {
  @include mixin.size(1em);
  font-size: var(--fs-h6);
  stroke: currentColor;
  fill: currentColor;

  > svg {
    @include mixin.size(1em);
  }
}

.changelogs-nav-wrapper {
  $-min-width: 24ch;

  @include mixin.on-three-column {
    @include mixin.sticky;
  }

  .nav-card {
    @extend %card;
    width: fit-content;
    min-width: $-min-width;

    @include mixin.on-three-column {
      display: block;
      position: absolute;
      left: calc(-#{$-min-width} - var(--space-4x));
    }

    nav {
      @extend %card-content;

      ul {
        margin: 0;
        padding: 0;
      }
    }
  }
}
