@use "./layout";
@use "./breakpoints";
@use "./constants";

%outlined {
  $-style: constants.$border-width constants.$border-style var(--text-tertiary);
  border: $-style;

  &-adaptive {
    @extend %outlined;

    @include breakpoints.on-small-width {
      border-block: $-style;
      border-inline: none;
    }
  }
}

%border {
  @include layout.directional(
    border,
    constants.$border-width constants.$border-style
  );
}

/**
 * Adds a left border and indents content to compensate.
 */
%indented {
  $-indent: constants.$border-width * 4;
  border-left: $-indent constants.$border-style var(--vibrant);
  padding-inline: $-indent * 2;
}
