@use "./accessibility";
@use "./animation";
@use "./breakpoints";
@use "./interactive";
@use "./layout";
@use "./overflow";
@use "./scaffold";
@use "./constants";

%link-buttons {
  @extend %row;
  @extend %nolinks;
  @extend %margin-small-block;

  font-variant: all-small-caps;
  gap: var(--space) 0;

  .links-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
    gap: var(--space);
  }

  a {
    display: inline-block;
    white-space: nowrap;

    @extend %padding-small-inline;
    @extend %hover-underline;
  }

  @include breakpoints.on-touchscreen {
    a {
      padding: var(--space-half) var(--space);
      border: 2px solid var(--text-tertiary);
      margin-inline: var(--space-half);
    }
  }

  &:has(.links-title) {
    .links-title::after {
      @extend %-animated-indent;
      margin-inline: var(--space-half);
    }

    &:has(a:hover) .links-title::after {
      @extend %-animated-indent--hide;
    }
  }

  &:not(:has(.links-title)) {
    &::before {
      @extend %-animated-indent;
      margin-right: var(--space-half);
    }

    &:has(a:hover)::before {
      @extend %-animated-indent--hide;
    }
  }
}

%link-buttons-row {
  @extend %link-buttons;
  @extend %scroll-inline;

  flex-wrap: nowrap;
}

/**
 * A collection of links that appear near the top of a page.
 */
%quick-links {
  @extend %link-buttons-row;

  @media (width > #{constants.$readable-text-width + (2 * scaffold.$margin-comfy)}) {
    justify-content: center;
  }
}

%-animated-indent {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: var(--vibrant);
  transform: scaleY(1);
  transform-origin: bottom;

  @include animation.transition-fast((transform));
  @include accessibility.reduced-motion {
    transform: none;
  }
}

%-animated-indent--hide {
  transform: scaleY(0);

  @include accessibility.reduced-motion {
    transform: none;
  }
}
