@use "./breakpoints";

$scrollbar-thickness: 10px;
$-scrollbar-thickness-nested: 6px;

@mixin scrollbar-size($size: $scrollbar-thickness) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
}

%scroll-inline {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 8px;

  @include scrollbar-size($-scrollbar-thickness-nested);

  @include breakpoints.on-touchscreen {
    padding-right: 25%; // Extra space to show end of scrollable content.
    @include scrollbar-size(0);
  }
}

/**
 * Nested vertical scroll container.
 */
%scroll-block {
  @include scrollbar-size($-scrollbar-thickness-nested);
}

@mixin sticky($-top: var(--space-4x)) {
  position: sticky;
  top: $-top;
}
