@use "./breakpoints";
@use "./typography";
@use "./space";
@use "./constants";

$margin-comfy: 32px;
$margin-small: 8px;
$margin-minimal: 4px;

#scaffold {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  max-width: 100%;
  min-height: 100svh;

  > header {
    grid-area: header;
  }

  > #content_wrapper {
    grid-area: content;
  }

  > footer {
    grid-area: footer;
  }

  > header,
  > footer,
  > #content_wrapper {
    @extend %-content_margins;

    --content-width: min(
      calc(100svw - var(--scrollbar-thickness) - (var(--content-margin) * 2)),
      #{constants.$readable-text-width}
    );
  }
}

%-content_margins {
  --content-margin: #{$margin-comfy};

  padding-inline: var(--content-margin);

  @include breakpoints.on-medium-width {
    --content-margin: #{$margin-small};
  }

  @include breakpoints.on-small-width {
    --content-margin: #{$margin-minimal};
  }
}

%full-bleed {
  // Undoes the effects of %-content-margins for an element.
  margin-inline: calc(-1 * var(--content-margin));
}

#content {
  display: grid;
  grid-template-areas: "sidebar-left content sidebar-right";
  grid-template-columns: 1fr var(--content-width) 1fr;

  main {
    grid-area: content;
  }

  nav {
    h1 {
      @extend %text-large;
    }

    ul {
      list-style-position: inside;
      padding-inline-start: 0;
    }
  }
}
