@use "./layout";

$-border-width: 2px;
$-border-style: $-border-width solid;

%outlined {
  border: $-border-style var(--text-tertiary);
}

%border {
  @include layout.directional(border, $-border-style);
}

/**
 * Adds a left border and indents content to compensate.
 */
%indented {
  border-left: $-border-style var(--accent-color);
  padding-inline: $-border-width * 2;
}
