@use "./layout";
@use "./breakpoints";

$-border-width: 2px;
$-border-style: $-border-width solid;

%outlined {
  $-style: $-border-style var(--text-tertiary);
  border: $-style;

  &-adaptive {
    @extend %outlined;

    @include breakpoints.on-small-width {
      border-block: $-style;
      border-inline: none;
    }
  }
}

%border {
  @include layout.directional(border, $-border-style);
}

/**
 * Adds a left border and indents content to compensate.
 */
%indented {
  border-left: $-border-style var(--accent-color);
  padding-inline: $-border-width * 2;
}
