@use "v2/constants";

@mixin grid-columns-3 {
  @media (width >= constants.$three-column-min-width) {
    grid-template-columns: constants.$sidebar-width 1fr constants.$sidebar-width;
    @content;
  }
}

@mixin grid-columns-2 {
  @media (width >= constants.$two-column-min-width) {
    grid-template-columns: 1fr constants.$sidebar-width;
    @content;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr;
  @content;
}
