%grid {
  display: grid;
  gap: var(--space);
  align-items: start;
}

@mixin grid-columns($min-width, $columns) {
  @extend %grid;

  grid-template-columns: repeat($columns, minmax($min-width, 1fr));
}
