@use "sass:map";
@use "./breakpoints";
@use "./layout";

$-spacing: (
  "zero": 0,
  "smallest": var(--space-half),
  "small": var(--space),
  "medium": var(--space-2x),
  "large": var(--space-3x),
  "auto": auto,
);

@mixin -spacing($base) {
  --space-half: calc(#{$base} / 2);
  --space: #{$base};
  --space-2x: calc(#{$base} * 2);
  --space-3x: calc(#{$base} * 3);
  --space-4x: calc(#{$base} * 4);
}

:root {
  @include -spacing(8px);
}

@mixin -generate-spacing($property) {
  @each $name, $size in $-spacing {
    &-#{$name} {
      // e.g. padding-small, padding-medium...
      #{$property}: $size;

      // e.g. padding-small-left, padding-small-right...
      @include layout.directional($property, $size);
    }
  }
}

%padding {
  @include -generate-spacing(padding);
}

%margin {
  @include -generate-spacing(margin);
}

@mixin center {
  margin-inline: auto;
}

%center {
  @include center;
}

%bottom-gap {
  margin-bottom: 4rem;
}
