@use "./animation";
@use "./shapes";

/**
 * Hover, select, focus, etc.
 */
%hover {
  @extend %shape-small;
  @include animation.transition((background-color));

  &:hover {
    background-color: var(--hover);
  }
}

%hover-underline {
  @extend %underline;

  &::after {
    @include animation.transition-fast((transform));

    transform: scaleX(0);
    transform-origin: left;
  }

  &:hover::after {
    transform: scaleX(100%);
  }
}

%clickable {
  cursor: pointer;
}

:focus-visible {
  animation-name: outline-pop;
  animation-duration: 220ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

  @keyframes outline-pop {
    0% {
      outline-offset: 0;
      outline-width: 0;
    }

    60% {
      outline-offset: 4px;
    }

    100% {
      outline-offset: 1px;
    }
  }
}

%underline {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 2px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--vibrant);
  }
}
