@use "./breakpoints";
@use "v2/constants";

:root {
  --fs-default: 18px;
  --fs-small: 16px;
  --fs-smallest: 14px;
  --fs-label: 12px;

  --fs-h1: 38px;
  --fs-h2: 34px;
  --fs-h3: 30px;
  --fs-h4: 28px;
  --fs-h5: 26px;
  --fs-h6: 24px;

  @include breakpoints.on-medium-width {
    --fs-default: 16px;
    --fs-small: 14px;
    --fs-smallest: 12px;
    --fs-label: 10px;

    --fs-h1: 30px;
    --fs-h2: 28px;
    --fs-h3: 24px;
    --fs-h4: 22px;
    --fs-h5: 20px;
    --fs-h6: 18px;
  }
}

@mixin max-lines($max-lines: 2) {
  text-overflow: ellipsis;
  overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

%text-one-line {
  text-overflow: ellipsis;
  overflow: clip;
  white-space: nowrap;
  line-break: anywhere;
}

%text-funky {
  background: rgb(2 0 36);
  background: linear-gradient(
    211deg,
    var(--vibrant),
    rgb(129 52 163),
    var(--muted)
  );
  background-size: 300% 300%;
  animation-name: gradient-rotation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @keyframes gradient-rotation {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 100% 0;
    }

    75% {
      background-position: 0 100%;
    }

    100% {
      background-position: 0 0;
    }
  }
}

%text-default {
  font-family: sans-serif;
  font-size: var(--fs-default);
  color: var(--text-primary);
  line-height: 1;
}

%text-small {
  font-size: var(--fs-small);
}

%text-smallest {
  font-size: var(--fs-smallest);
}

%text-label {
  font-size: var(--fs-label);
  font-weight: bold;
  letter-spacing: 0.2ch;
  width: fit-content;
}

%text-large {
  font-size: var(--fs-h6);
  line-height: 1.5;
  letter-spacing: 0.1ch;
}

%text-container {
  max-width: #{constants.$readable-text-width};
}

%readable-text {
  @extend %text-container;

  line-height: 1.5;
}

@mixin force-color($color: var(--text-primary)) {
  a,
  button {
    &,
    &:active,
    &:hover,
    &:link,
    &:visited,
    &:visited:hover {
      color: $color;
    }
  }
}

%nolinks {
  @include force-color;
}
