@use "v2/core";

%button {
  @extend %clickable;
  @extend %shape-small;
  @extend %outlined;
  @extend %text-one-line;
  @include core.transition((color, border-color, background-color));

  padding: 4px 8px;
  font-size: var(--fs-default);
  font-variant: all-small-caps;
  background-color: transparent;
  color: var(--text-primary);

  &:hover, &[data-selected="true"] {
    color: var(--vibrant-high-contrast);
    border-color: var(--vibrant-high-contrast);
  }
}

button {
  @extend %button;
}
