@use "v2/core";

.codehilite {
  @extend %shape-small;
}

code {
  @extend .codehilite;
  @extend %surface-muted-low-contrast;

  padding-block: var(--space-half);
  padding-inline: var(--space);
}

pre {
  @extend %padding-medium;
  @extend %surface;

  overflow-x: scroll;
  margin: 0;

  code {
    @extend %surface;

    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}
