<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% include "pages/scaffold/_head_meta.html" %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="noindex">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/dashboard-__env__:gitHash.css' %}" />
    <script type="application/javascript" src="{% static '/js/dashboard-__env__:gitHash.js' %}" defer ></script>
  </head>
  <body>
    {% block body %}
      <main>
        <header><a href="{% url 'admin:index' %}">Admin</a> | <a href="{% url 'index' %}">Home</a></header>
        {% block main %}
          <div id="dashboard_wrapper"></div>
        {% endblock %}
      </main>
    {% endblock %}
  </body>
</html>
