@use "v2/core";
@use "v2/constants";
@use "v2/components/card";
@use "v2/components/links";
@use "v2/objects/button";

.main-index {
  @include core.grid {
    gap: var(--space-2x);
    grid-template-columns: 1fr;
    grid-template-areas:
      "motd"
      "quick-links"
      "main-feed";
  }

  .quick-links {
    @extend %quick-links;

    grid-area: quick-links;
  }

  #github_recent {
    grid-area: github;
  }

  main {
    @extend %center;

    grid-area: main-feed;
  }

  #motd {
    @extend %card;
    @extend %card-content;
    @extend %center-column;
    @extend %surface-vibrant;
    @extend %margin-large-block;

    grid-area: motd;
  }

  &[data-page="1"] {
    grid-template-areas:
      "motd"
      "quick-links"
      "github"
      "main-feed";

    @include core.grid-columns-2 {
      grid-template-areas:
        "motd motd"
        "quick-links quick-links"
        "main-feed github"
        "main-feed ."
        "main-feed .";

      #github_recent {
        @include core.sticky;

        overflow-y: visible;
        max-height: none;
      }
    }

    @include core.grid-columns-3 {
      grid-template-areas:
        ". motd ."
        "quick-links quick-links quick-links"
        ". main-feed github"
        ". main-feed ."
        ". main-feed .";
    }
  }
}
