@use "mixin";
@use "components/card";

.feeditem-summary {
  @extend %card;
  @extend %stretch-width;

  display: grid;
  grid-template-columns: var(--preview-image-size) 1fr;

  .feeditem-summary-text {
    @extend %card-content;
    @extend %stretch-width;
  }

  .feeditem-summary-headline {
    @extend %margin-small-bottom;

    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: baseline;
    gap: var(--space);

    .p-name {
      @extend %text-one-line;

      font-size: var(--fs-h6);
      line-height: 1.5;
      letter-spacing: 0.1ch;
    }

    time {
      display: block;
      text-align: end;
    }
  }

  .p-summary {
    @include mixin.max-lines(2);
  }

  .preview-image {
    // Image will be clipped to shape by %card.
    border-radius: 0;
  }

  @include mixin.on-medium-width {
    grid-template-columns: 1fr;
    gap: 0;

    .preview-image,
    .feeditem-summary-headline time {
      display: none;
    }

    .p-summary {
      @include mixin.max-lines(3);
    }
  }
}
