@use "sass:math";
@use "mixin";

.feed > [data-type="note"] {
  @extend %margin-large-block;
  @extend %surface-muted;
  @extend %outlined;
  @extend %shape-adaptive-medium;

  max-width: 480px;

  > article {
    @extend %padding-large;

    > .e-content {
      @extend %text-large;
    }

    > .canonical-url {
      margin-top: var(--space);
      margin-inline: auto 0;
      display: block;
      text-align: end;
      color: var(--text-primary);
    }

    @include mixin.on-medium-width {
      padding-inline: var(--space);
    }
  }

  &:hover {
    .canonical-url {
      color: var(--vibrant-hover);
    }
  }

  @include mixin.on-small-width {
    border-width: 0;
  }

  &:nth-child(3n + 1) {
    margin-inline: auto;
  }

  &:nth-child(3n + 2) {
    margin-inline: 0 auto;
  }

  &:nth-child(3n + 3) {
    margin-inline: auto 0;
  }
}
