@use "mixin";

:root {
  --preview-image-size: 9rem;

  @include mixin.on-medium-width {
    --preview-image-size: 6rem;
  }
}

.preview-image {
  @include mixin.size(var(--preview-image-size));
  @extend %shape-medium;

  overflow: clip;
  background-position: center;
  background-repeat: no-repeat;

  div.svg {
    @extend %stretch;
    @extend %margin-small;

    background-color: var(--vibrant);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  > svg {
    @extend %stretch;
    @extend %padding-small;
  }

  > img {
    @extend %stretch;
    object-position: center;
  }

  &.cover > img {
    object-fit: cover;
  }

  &.contain > img {
    @extend %padding-small;

    object-fit: contain;
  }

  &.preview-image__text-wrapper {
    @extend %surface;
    user-select: none;

    > .preview-image__text {
      // No actual image available, use some artsy text.
      --size: calc(var(--preview-image-size) * 1.414);
      @include mixin.size(var(--size));
      @extend %text-monospace;

      position: relative;
      top: -25%;
      left: -25%;
      letter-spacing: 2px;
      font-size: calc(var(--preview-image-size) / 5);
      font-weight: bold;
      text-align: start;
      text-transform: uppercase;
      rotate: 45deg;
      transform-origin: center;
      line-height: 1.3;
      line-break: anywhere;
      overflow: clip;
    }
  }
}

[data-type="githubrepository"] .preview-image > div.svg {
  background-color: var(--text-primary);
}
