@use "mixin";

$-pagination-button-size: 3rem;

.pagination {
  @include mixin.row(space-between);

  font-size: var(--fs-h4);
  margin: 16px 0;

  > .pagination-group {
    @extend %row;

    > * {
      margin: 8px;
    }
  }

  a {
    @extend %hover;
    @include mixin.size($-pagination-button-size);

    display: inline-block;
    line-height: $-pagination-button-size;
    text-align: center;
    font-weight: bold;
  }
}
