@use "mixin";

article[data-type="article"] {
  .hero-wrapper {
    @extend %center;
    @extend %margin-medium-bottom;

    display: flex;
    position: relative;
    aspect-ratio: unset;
    max-width: 100%;

    img {
      @extend %center;

      max-height: 25vh;
      max-width: 100%;
      box-sizing: border-box;
      object-position: center;

      &.cover {
        object-fit: cover;
        width: 100%;
      }

      &.contain {
        object-fit: contain;
      }
    }

    &.cover {
      &::before {
        @include mixin.stretch;

        background-color: var(--muted);
        content: "";
        position: absolute;
        inset-inline: 0;
        z-index: -1;
        margin-inline: -100%;
      }
    }

    &.contain {
      img {
        @extend %shape-medium-top;
      }
    }
  }
}
