@use "v2/core";

%links {
  @extend %row-spaced;

  .links-title {
    font-weight: bold;

    &::after {
      content: "";
      background-color: var(--vibrant);
      width: 2px;
      height: 1em;
    }
  }

  @include core.touchscreen {
    a {
      padding: var(--space-half) var(--space);
      border: 2px solid var(--text-tertiary);
    }
  }
}

%link-buttons {
  @extend %links;
  @extend %nolinks;
  @extend %margin-small-block;

  font-variant: all-small-caps;

  a {
    @extend %hover;
    @extend %hover-underline;
    @extend %padding-small-inline;
  }
}
