@use "v2/core";

%link-buttons {
  @extend %row-spaced;
  @extend %nolinks;
  @extend %margin-small-block;

  font-variant: all-small-caps;

  .links-title {
    font-weight: bold;
  }

  a {
    @extend %hover;
    @extend %hover-underline;
    @extend %padding-small-inline;

    white-space: nowrap;
  }

  @include core.touchscreen {
    a {
      padding: var(--space-half) var(--space);
      border: 2px solid var(--text-tertiary);
    }
  }
}
