$animation-duration: 300ms;
$animation-duration-fast: 200ms;

// Layout
$readable-text-width: 800px;
$sidebar-width: 420px;
$two-column-min-width: $readable-text-width + $sidebar-width;
$three-column-min-width: $readable-text-width + (2 * $sidebar-width);
