@use "mixin";
@use "components/card";

%-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#theme_preview {
  @extend %center;

  max-width: 80ch;

  & > * {
    margin-block: var(--space-4x);
  }

  &_headers > * {
    margin-block: var(--space);
  }

  .row {
    @include mixin.row($gap: var(--space-2x));

    margin-block: var(--space-2x);
  }

  .outlined {
    @extend %shape-adaptive-medium;
    @extend %outlined;
  }

  #surfaces {
    @extend %-grid;

    gap: var(--space-2x);
  }

  .color-surfaces {
    > * {
      @extend %card-content;

      cursor: default;
      font-weight: bold;
    }
  }

  form#inputs {
    @extend %-grid;

    gap: var(--space-2x);

    > * {
      overflow: clip;
    }
  }
}
