{% if links or apps %}
    <div class="related-links">
        <span class="links-title">Links:</span>
        {% for app in apps %}
          <a href="{% url 'app' app.app_id %}">
            <span class="related">
              <span class="related__description">App</span>: {{ app.title }}
            </span>
          </a>
        {% endfor %}

        {% for link in links %}
          <a href="{{ link.url }}">
            <span class="related">
              {% if link.description %}
                <span class="related__description">{{ link.description|capfirst }}</span>: {{ link.host.name }}
              {% else %}
                {{ link.host.name }}
              {% endif %}
            </span>
          </a>
        {% endfor %}
    </div>
{% endif %}
