$-directions: ("top", "bottom", "left", "right", "inline", "block");

/**
 * Generate variations of the current context which each apply the given
 * property in a particular direction.
 *
 * e.g. %placeholder { @include directional(margin, 4px); }
 *      generates
 *      %placeholder-top { margin-top: 4px; }
 *      %placeholder-bottom { margin-bottom: 4px; }
 *      %placeholder-left { margin-left: 4px; }
 *      %placeholder-right { margin-right: 4px; }
 *      %placeholder-inline { margin-inline: 4px; }
 *      %placeholder-block { margin-block: 4px; }
 */
@mixin directional($property, $value) {
  #{$property}: $value;

  @each $dir in $-directions {
    &-#{$dir} {
      #{$property}-#{$dir}: $value;
    }
  }
}
