@use "mixin/animation";

[data-meta] {
  display: none;
}

[data-animate-in] {
  @extend %fade-and-slide-in;
}

[data-highlighted] {
  animation: highlight;
  animation-delay: 300ms;
  animation-duration: 1200ms;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.42, 0.42, 0.33, 1);

  @keyframes highlight {
    0% {
      outline: var(--vibrant) solid 2px;
      outline-offset: var(--space-4x);
    }

    50%,
    100% {
      outline-offset: -(var(--space));
    }
  }
}
