@value indeterminate from "./common.module.css";

._loadingBar {
  min-height: 2px;
}

.loadingBarIndeterminate {
  composes: _loadingBar indeterminate;
}

.loadingBarDeterminate {
  composes: _loadingBar;
  background-color: var(--surface);
}

.loadingBarDeterminateProgress {
  background-image: linear-gradient(
    90deg,
    var(--surface) 5%,
    var(--muted),
    var(--muted)
  );
  background-size: 200% 200%;
  animation-duration: 2200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: loadingBarProgressKeyframes;
  min-height: 2px;
  min-width: 2%;
  transition: width 600ms;

  &[data-finished="true"] {
    animation-iteration-count: 1;
  }
}
@keyframes loadingBarProgressKeyframes {
  0% {
    background-position: 200% 33%;
  }
  100% {
    background-position: 0 0;
  }
}
