@layer components {
  .loading {
    --_size: 64px;
    --_translation: 80%;
    --_interpolation: ease-in;

    position: relative;
    display: flex;
    width: var(--_size);
    height: var(--_size);
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    font-size: var(--_size);

    > * {
      position: absolute;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-name: loading;
      fill: currentColor;
      stroke: currentColor;
      stroke-width: 0;
      justify-self: center;
    }
  }

  @keyframes loading {
    0% {
      opacity: 0;
      translate: calc(-1 * var(--_translation));
      fill: transparent;
      stroke-width: 1px;
    }
    40%,
    60% {
      opacity: 1;
      translate: 0;
      fill: currentColor;
      stroke-width: 0;
    }
    100% {
      translate: var(--_translation);
      opacity: 0;
      fill: transparent;
      stroke-width: 1px;
    }
  }
}

@layer components {
  .loadingbar {
    min-height: 2px;
  }
  .loadingbar-anim {
    background-size: 200% 200%;
    animation-duration: 2200ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    min-height: 2px;
  }

  .loadingbar--indeterminate {
    background-image: linear-gradient(
      110deg,
      var(--surface),
      var(--muted),
      var(--muted),
      var(--vibrant)
    );
    animation-name: loadingbar--indeterminate;
    animation-duration: 2200ms;
  }

  @keyframes loadingbar--indeterminate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 33%;
    }
    100% {
      background-position: 0 0;
    }
  }

  .loadingbar--progress {
    background-color: var(--surface);

    .loadingbar-anim {
      background-image: linear-gradient(
        90deg,
        var(--surface) 5%,
        var(--muted),
        var(--muted)
      );
      animation-name: loadingbar--progress;
      animation-duration: 2200ms;
      min-width: 2%;
      transition: width 600ms;

      &[data-finished="true"] {
        animation-iteration-count: 1;
      }
    }
  }
  @keyframes loadingbar--progress {
    0% {
      background-position: 200% 33%;
    }
    100% {
      background-position: 0 0;
    }
  }
}
