{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ react_app.name }}</title>
    <meta name="description" content="{{ react_app.name }}" />
    <link rel="stylesheet" href="{% static 'css/bma.min.css' %}" />
    {% include "pages/base/_meta.html" %}
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
<div id="{{ react_app.name }}_container"></div>

<script type="application/javascript" src="{{ react_app.url }}" defer></script>
</body>
</html>
