<div id="relme">
  <section id="relme_self">
    <div class="group-name">Self</div>

    <a title="RSS feed for beatonma.org" href="https://beatonma.org/feed" rel="me">
      RSS
    </a>
  </section>

  <section id="relme_make">
    <div class="group-name">Make</div>

    <a title="Github" href="https://github.com/beatonma" rel="me">
      Github
    </a>

    <a title="PyPi" href="https://pypi.org/user/beatonma/" rel="me">
      PyPi
    </a>

    <a title="Youtube" href="https://youtube.com/@fallofmath" rel="me">
      Youtube
    </a>

    {% comment %}<a title="Play Store" href="https://play.google.com/store/apps/developer?id=Michael+Beaton" rel="me" >
      Play Store
    </a>{% endcomment %}

    <a title="Thingiverse profile" href="https://www.thingiverse.com/fallofmath/" rel="me">
      Thingiverse
    </a>

    <a title="Userstyles.org profile" href="https://userstyles.org/users/365999" rel="me">
      Userstyles
    </a>
  </section>

  <section id="relme_do">
    <div class="group-name">Do</div>
    <a title="Duolingo profile" href="https://www.duolingo.com/fallofmath" rel="me">
      Duolingo
    </a>

    <a title="Last.fm profile" href="https://www.last.fm/user/schadenfreude87" rel="me">
      last.fm
    </a>

    <a title="Bandcamp profile" href="https://bandcamp.com/fallofmath" rel="me">
      Bandcamp
    </a>

    <a title="StarCraft II profile" href="https://starcraft2.com/en-gb/profile/2/1/2784180" rel="me">
      StarCraft II
    </a>
  </section>

  <section id="relme_etc">
    <div class="group-name">etc</div>

    <a title="google.dev profile" href="https://google.dev/u/108152021615266872014" rel="me">
      google.dev
    </a>

    <a title="Gravatar profile" href="https://gravatar.com/beatonma" rel="me">
      Gravatar
    </a>
  </section>
</div>
