{% extends 'pages/posts/_post.html' %}

{% with app=post %}
  {% block titlebar %}
    {% include "./_app-title-bar.html" with app=post %}
  {% endblock %}

  {% block post_content %}
    {{ post.description|default:"" }}
  {% endblock %}

  {% if changelogs %}
    {% block additional_content %}
      <section>
        <h3>Changelogs</h3>

        <div class="changelogs-nav-wrapper">
          <div class="nav-card">
            <nav class="changelog-versions">
              <h1>Versions</h1>
              <ul>
              {% for changelog in changelogs %}
                <li><a href="#changelog_{{ changelog.version_name }}">{{ changelog.version_name }}</a></li>
              {% endfor %}
              </ul>
            </nav>
          </div>
        </div>

        {% for changelog in changelogs %}
          {% include "./_changelog.html" %}
        {% endfor %}
      </section>
    {% endblock %}
  {% endif %}
{% endwith %}
