.text-with-icon {
  vertical-align: middle;
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
  gap: 0.5ch;

  > .material-symbols-outlined {
    flex-shrink: 0;
  }

  > * {
    vertical-align: middle;
  }
}
