@use "v2/core";

%button {
  @extend %clickable;
  @extend %shape-small;
  @extend %text-one-line;
  @include core.transition((color, border-color, background-color));

  padding: 0.5em 1ch;
  text-transform: uppercase;
  line-height: 1;
  max-width: 32ch;
}

%button-transparent {
  @extend %button;
  @extend %hover;

  background: none;
  color: var(--text-primary);
}

%button-solid {
  @extend %button;
  @extend %elevated;
  @extend %surface-muted-hover;
}

%button-outline {
  @extend %button;
  @extend %outlined;

  background-color: transparent;
  color: var(--text-primary);

  &:hover,
  &[data-selected="true"] {
    color: var(--vibrant-high-contrast);
    border-color: var(--vibrant-high-contrast);
  }
}

button {
  @extend %button-outline;
}

button[type="submit"] {
  @extend %surface-vibrant-hover;
  font-size: var(--fs-default);
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: default;
  background-color: var(--text-tertiary-invert);
  border-color: var(--text-tertiary);
  color: var(--text-tertiary);
}

form button {
  @include core.on-medium-width {
    @include core.stretch-width;
    @include core.center;

    display: block;
  }
}
