::selection {
  color: var(--background);
  background-color: var(--on-background);
}

::-webkit-scrollbar {
  $scrollbar-thickness: 10px;

  width: $scrollbar-thickness;
  height: $scrollbar-thickness;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
}
