@mixin width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin size($width, $height: $width) {
  @include width($width);

  aspect-ratio: 1;
}

@mixin stretch-width {
  width: stretch;
}

@mixin stretch-height {
  height: stretch;
}

@mixin stretch {
  @include stretch-width;
  @include stretch-height;
}

%stretch-width {
  @include stretch-width;
}

%stretch-height {
  @include stretch-height;
}

%stretch {
  @include stretch;
}


@mixin fill {
  width: 100%;
  height: 100%;
}

%fill {
  @include fill;
}
