@use "mixin";
@use "sass:math";

%-carousel-nav-button {
  @extend %scrim-colors;
  @include mixin.transition((filter));

  margin: var(--space);
  aspect-ratio: 1;
  filter: brightness(0.85);

  &:focus-visible {
    outline-color: var(--vibrant);
  }

  &:hover,
  &[data-selected="true"] {
    background-color: var(--scrim);
    color: var(--on-scrim);
    filter: brightness(1);
  }
}

.media-carousel {
  @extend %full-bleed;
  @extend %surface;

  max-width: 100svw;
  line-height: 1;

  button {
    @extend %-carousel-nav-button;
  }

  &--focussed {
    @extend %center;
    @extend %shape-adaptive-medium-top;

    $-max-height: 90svh;

    overflow: hidden;
    max-height: $-max-height;
    aspect-ratio: 1;
    position: relative;

    &-primary {
      @extend %fill;

      .media {
        @include mixin.transition-fast((opacity));
        @extend %fill;

        object-fit: contain;
      }

      [data-visible="true"] {
        @extend %fade-in;
        animation-name: -opacity-only-fade-in;
        @keyframes -opacity-only-fade-in {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }

      [data-visible="false"] {
        opacity: 0;
        z-index: -1;
        height: 0;
      }
    }

    &[data-item-count="1"] {
      /*
       Wrap media size if only one item:
         no internal navigation -> static content ->  no need to fix the
         background as any particular size/shape.
       */
      @extend %shape-adaptive-medium;
      aspect-ratio: unset;

      .media-carousel--focussed-primary > .media {
        max-height: $-max-height;
        background-color: transparent;
      }
    }

    @include mixin.on-medium-width {
      &[data-item-count="1"] {
        height: auto;
      }
    }
  }

  &--navigation {
    @include mixin.row($horizontal: space-between);
    @extend %stretch-width;

    position: absolute;
    inset: 0;
    pointer-events: none;

    button {
      pointer-events: auto;
    }
  }

  &--items {
    @include mixin.row(
      $horizontal: flex-start,
      $gap: var(--space),
      $wrap: nowrap
    );

    padding-block: var(--space);
    margin-inline: auto;
    max-width: 100%;
    width: fit-content;
    overflow-x: auto;

    @media (height <= 200px) {
      display: none;
    }

    > .media {
      @extend %shape-small;

      height: 90px;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 200ms;
      background-color: var(--muted);

      &[data-selected="true"] {
        border: 2px solid var(--vibrant);
        background-color: var(--vibrant);
      }
    }
  }
}

dialog.media-viewer-full {
  .media-carousel {
    margin-inline: 0;
  }

  button.close-dialog {
    @extend %-carousel-nav-button;

    position: absolute;
    top: 0;
    right: 0;
    margin: var(--space);
  }
}
