:root {
  --input-background: #202020;
  --input-background-focus: #2b2b2b;
}

* {
  box-sizing: content-box;
}

*:focus {
  outline-color: var(--accent);
}

body {
  margin-block: 0;
  font-size: 16px;
}

h2 {
  font-size: 1.1rem !important;
}

::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
}

%-text-container {
  padding: 1em 2ch !important;
  font-size: 16px;
  border: 1px solid var(--input-background);
  background-color: var(--input-background);
}

input[type="text"],
input[type="url"],
select,
textarea {
  @extend %-text-container;
  font-family: monospace;
  color: white;

  &:focus {
    border: 1px solid var(--input-background-focus);
    background-color: var(--input-background-focus);
  }
}

select {
  padding: 1ch !important;
}

option {
  background-color: var(--body-bg);
  color: var(--body-fg);
}

input[type="text"],
input[type="url"],
textarea {
  min-width: min(100%, 30ch);
  max-width: min(95%, 80ch) !important;
  resize: both !important;
  border-radius: 1ch;
}

textarea:not(.charfield) {
  min-height: 10rem !important;
  max-height: unset !important;
}

.checkbox-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 12px;
  gap: 1ch;
  width: fit-content;
  background-color: var(--input-background);
  border-radius: 1ch;

  .vCheckboxLabel {
    padding-block: 0;
    font-size: 1rem;
  }
}

.readonly {
  @extend %-text-container;
  color: #9c9c9c;
  font-family: monospace;
  overflow: auto;
  margin: auto;
  border-radius: 1ch;

  img,
  video {
    width: auto;
    max-height: 25rem;
  }

  img {
    object-fit: contain;
  }
}

.form-multiline {
  align-items: baseline;
  gap: 4ch;
}

tr:nth-child(odd),
tr:nth-child(even) {
  background-color: var(--body-bg);
}

tr:hover {
  background-color: var(--input-background);
}

p.datetime {
  input[type="text"] {
    min-width: 12ch !important;
  }
}

label {
  user-select: none;
}
