{% load admin_urls %}
{% load page.staff %}

{% block staff %}
{% if user.is_staff %}
<div class="staff-actions">
    <a class="noanim" href="{{ target|admin_edit_url }}" title="Edit"><span class="icon">edit</span></a>
    <a class="noanim" href="/webmention/get?url={{ request.path }}" title="Webmentions API"><span class="icon">alternate_email</span></a>
    <button
        title="Remove staff UI"
        onclick="(e => e.parentNode.remove())(this)"
    >
        <span class="icon">close</span>
    </button>
</div>
{% endif %}
{% endblock %}
