{% load admin_urls %}
{% load page.staff %}

{% block staff %}
{% if user.is_staff %}
<div class="staff">
    <div class="staff-links">
        <span class="github-hash icon" title="__env__:gitHash">tag</span>
        <a class="noanim" href="/webmention/get?url={{ request.path }}" title="Webmentions API"><span class="icon">alternate_email</span></a>
        <a class="noanim" href="{{ target|admin_edit_url }}" title="Edit"><span class="icon">edit</span></a>
        <button
            title="Remove staff UI"
            onclick="(e => e.parentNode.parentNode.remove())(this)"
        >
            <span class="icon">close</span>
        </button>
    </div>
</div>
{% endif %}
{% endblock %}
