@use "../mixin";
@use "../global/styles/objects/button";
@forward "./theme-preview";

.staff-toolbar {
  @include mixin.row($horizontal: flex-end, $gap: var(--space));

  .menu {
    position: relative;
    z-index: 1000;

    .menu-title {
      @extend %hover;
      @extend %padding-small;
    }

    .menu-content {
      @extend %surface-muted;
      @extend %padding-small;
      @extend %shape-small;

      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      align-items: flex-end;
      text-align: end;

      a {
        @extend %on-muted;
        @extend %stretch-width;
      }
    }

    &:hover {
      .menu-content {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .unread-badge {
    position: relative;

    :nth-child(2) {
      @extend %surface-vibrant;

      position: absolute;
      bottom: -0.25em;
      right: 0;
      font-size: var(--fs-label);
      height: 1em;
      padding: 1px 2px;
      border-radius: 2px;
    }
  }
}

.staff-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > * {
    @extend %button-transparent;
    padding: 0.5em;
    font-size: var(--fs-default);
  }
}
