/* prettier-ignore */
@utility fg-* {
  --fg: --value(--color-on-*);
  color: var(--fg);
  fill: var(--fg);
}

/* Base surface theme. */
@utility surface {
  --bg: var(--surface);
  --fg: var(--on-surface);
  --vibrant: var(--vibrant-on-surface);
  --muted: var(--muted-on-surface);
  accent-color: var(--vibrant-on-surface);

  background-color: var(--bg);
  color: var(--fg);
  fill: var(--fg);
}

/* Apply a surface color theme. */
/* prettier-ignore */
@utility surface-* {
  --bg: --value(--color-*);
  --fg: --value(--color-on-*);
  accent-color: --value(--color-vibrant-on-*);

  background-color: var(--bg);
  color: var(--fg);
  fill: var(--fg);

  > * {
    --vibrant: --value(--color-vibrant-on-*);
    --muted: --value(--color-muted-on-*);
  }
}

/* Apply a surface theme and a slightly modified variant when hovered. */
/* prettier-ignore */
@utility hover-surface-* {
  @apply transition-colors;

  --bg: --value(--color-*);
  --fg: --value(--color-on-*);
  accent-color: --value(--color-vibrant-on-*);

  background-color: var(--bg);
  color: var(--fg);
  fill: var(--fg);

  > * {
    --vibrant: --value(--color-vibrant-on-*);
    --muted: --value(--color-muted-on-*);
  }

  &:hover:not(:disabled) {
    @apply -hover-background;
  }
  &:focus-visible:not(:disabled) {
    @apply -hover-background;
  }
}

@utility -hover-background {
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: color-mix(in srgb, var(--hover, var(--fg)) 10%, var(--bg));
}

/* By default this will have zero size and appear to do nothing! Remember
 * to set the size of your background with before:-inset-2 or whatever.*/
@utility extra-background {
  @apply relative;
  &::before {
    @apply pointer-events-none absolute -z-1 rounded-lg;
    content: "";
  }
}

/* Add a hover background which is a different size to the element.
 * By default this will have zero size and appear to do nothing! Remember
 * to set the size of your background with before:-inset-2 or whatever.*/
@utility hover-extra-background {
  @apply extra-background relative;
  &::before {
    @apply bg-transparent transition-colors;
  }
  &:not(:disabled):hover::before {
    @apply -hover-background;
  }
  &:not(:disabled):focus-visible::before {
    @apply -hover-background;
  }
}

@utility card {
  @apply shadow-sm sm:rounded-md;
}
@utility card-hover {
  @apply card transition-shadow hover:shadow-md;
}
@utility card-content {
  @apply px-4 py-2 sm:px-8 sm:py-4;
}
@utility chip {
  @apply rounded-lg select-none;
}
@utility chip-content {
  @apply px-2 py-1;
}
@utility badge {
  @apply rounded-md select-none;
}
@utility badge-content {
  @apply px-1 py-0.5;
}
@utility readable {
  @apply max-w-readable w-full;
  --max-width: min(100%, var(--spacing-readable));
}
@utility touch-target {
  @apply min-h-12 min-w-12;
}

/* Make a subgrid that completely fills its parent grid. Useful for sharing named grid areas. */
@utility subgrid-span-full {
  @apply col-span-full col-start-1 row-span-full row-start-1 grid-cols-subgrid grid-rows-subgrid;
}

@utility divider-* {
  & > *:not(:last-child)::after {
    /* prettier-ignore */
    content: --value([*]);
  }
}
