@use "mixin";
@use "./button";

a {
  @include mixin.transition-fast((color));

  text-decoration: none;
  color: var(--vibrant);
  width: fit-content;

  &:hover {
    color: var(--vibrant-hover);
  }
}

a.button {
  @extend %button-outline;
}
