@use "mixin";

dialog {
  @extend %shape-adaptive-medium;

  background-color: transparent;
  border: none;
  z-index: var(--elevation-dialog);
  overflow: clip;
  position: fixed;
  inset: 0;
  padding: 0;
}
