@use "mixin";

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %nolinks;
  @extend %textbox;
  @include mixin.transition((font-size));

  overflow-y: hidden;
  font-weight: normal;
  margin: 0;

  @include mixin.on-medium-width {
    margin-inline: auto;
    text-align: center;
  }
}

@mixin headers {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @content;
  }
}

main,
form,
section,
#webmentions {
  @include headers {
    margin-block: 0.5em;
  }
}
