@use "../../../mixin/constants";
@use "mixin";

input,
textarea {
  outline: none;
}

%-base-input {
  @extend %shape-adaptive-small-top;
  @extend %padding-medium;
  @extend %border;

  border-color: var(--text-tertiary);
  font-size: var(--fs-small);
  color: var(--text-primary);
  background-color: var(--input-text-background);
  @include mixin.transition-fast((border-color));

  &:focus {
    border-bottom: (constants.$border-width * 2) constants.$border-style
      var(--vibrant);
  }
}

%-input-text {
  @extend %-base-input;

  min-width: 8ch;
  max-width: 100%;

  @include mixin.on-medium-width {
    @include mixin.stretch-width;
  }
}

input[type="number"],
select {
  @extend %-base-input;
}

input[type="text"],
input[type="url"] {
  @extend %-input-text;
}

input[type="search"] {
  @extend %-base-input;

  &::-webkit-search-cancel-button {
    filter: brightness(1) saturate(0) grayscale(1) contrast(0);
  }
}

textarea {
  @extend %-input-text;
  @extend %stretch-width;

  min-height: 8em;
  resize: vertical;
}
