@use "mixin";

code {
  @extend %shape-small;
  @extend %surface-muted-low-contrast;

  padding-block: 2px;
  padding-inline: var(--space);
}

pre {
  @extend %padding-medium;
  @extend %surface;
  @extend %shape-adaptive-medium;

  overflow-x: scroll;
  margin: 0;

  code {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}
